@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 25s linear infinite;
}

/* Hover durumunda animasyonu durdurmak istersen opsiyonel: */
.animate-scroll:hover {
    animation-play-state: paused;
}

html {
    /* Navbar yüksekliği (h-20 = 80px) kadar yukarıdan boşluk bırakır */
    scroll-padding-top: 100px;

    /* Tıklayınca anında gitmek yerine kayarak gitmesini sağlar (Hoş bir efekt) */
    scroll-behavior: smooth;
}